@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f6fb;
  /* background-color: rgba(33, 75, 214, 0.96); */
  /* background-color: rgb(23, 0, 128); */
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

/* Quill code highlight */
.hljs-keyword {
  color: rgb(236, 2, 71) !important;
}

.ql-syntax {
  background: rgb(4, 18, 36);
  border-radius: 6px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1.5rem;
  overflow-x: auto;
  color: rgb(242, 202, 39);
}

.hljs-title {
  color: rgb(230, 0, 230) !important;
}

.hljs-string {
  color: rgb(126, 208, 126) !important;
}

.hljs-subst {
  color: rgb(126, 208, 126) !important;
}
.font-sans > p > img {
  max-height: 320px;
  min-width: 75%;
  width: auto;
  border-radius: 6px;
  margin: auto;
}

.ql-editor {
  min-height: 300px !important;
}
.bgImage {
  width: 100% !important;
  max-height: 300px !important;
  background-color: yellow;
  border-top-left-radius: 10px !important;
}

.text-c {
  color: #0f1111;
  font-family: "Amazon Ember", Arial, sans-serif;
  font-size: 16px;
}

/* .text-cc{

} */
@layer utilities {
  @variants hover, focus {
    .bradius {
      border-radius: 4rem;
    }
    .filter-grayscale {
      filter: grayscale(100%);
    }
    .nav {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1;
      background-color: white;
      transition-timing-function: ease-in;
      transition: all 0.5s;
      font-family: sans-serif;
    }
    .profile {
      min-width: 200px;
    }

    .story {
      border: none;
    }
  }

  .mx-wd {
    width: 95%;
  }
  .mx-wd1 {
    width: 90%;
  }

  .mx-wd2 {
    width: 80%;
  }
  .mx-wd3 {
    width: 62%;
  }

  .act {
    background-color: yellow;
  }
  .mh {
    height: 40vh;
  }

  .avatar {
    width: 200px;
  }

  .bg-c {
    background-color: rgb(23, 0, 128);
  }
  /* .bg-c2{
    background-color: rgb(92, 0, 128);
  } */
  .color {
    color: rgb(23, 0, 128);
  }
}

/* @media screen and (max-width: 1050px){
  .wd-screen2{
    width: 100vw;
  }
  .profile{
    display: none;
  }
} */
@media screen and (max-width: 750px) {
  .wd-screen1 {
    width: 90vw;
    margin-left: 2px !important;
  }
}

@media screen and (max-width: 750px) {
  .wd-screen3 {
    margin-top: -22px !important;
    /* margin: 0; */
  }
}
