@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f6fb;
}

.cont-h{
  height: max-content;
}

.twitter{
  color:#0EA5E9 ;
}

.footer-bg{
  background-color: #131435;
}

/* ******************************** */
/* ***** Styles for HashTags ****** */
/* ******************************** */
.value{
  flex-grow: 1;
}

.devider{
  align-self: stretch;
  color: gray;
}

.caret{
  border: 0.45rem solid transparent;
  border-top-color: #777;
  translate: 0 25%;
  cursor: pointer;
}

.tag-options{
  position: absolute;
  top: calc(100% + 0.25rem);
  list-style-type: none;
  margin: 0;
  padding: 0;
  left: 0;
  max-height: fit-content;
  overflow-y: auto;
  z-index: 100;
  display: none;
}

.tag-options.tag-options__show{
  display: block;
}

.tag-option{
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}


/* ******************************** */
/* ***** Styles for SearchBar ****** */
/* ******************************** */
.ais-SearchBox-form{
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.ais-SearchBox-input{
  padding: 0.5rem !important;
  width: 95% !important;
  border-radius: 9999px !important;
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.ais-SearchBox-submitIcon{
  display: none !important;
}

/* .ais-SearchBox-reset{
  display: block !important;
} */



/* ******************************** */
/* ***** Styles for TextEditor **** */
/* ******************************** */

h1,
h2,
h3 {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

h1 {
  font-size: 2rem;
}

.hljs-keyword {
  color: rgb(236, 2, 71) !important;
}

.ql-syntax {
  background: rgb(4, 18, 36);
  border-radius: 6px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1.5rem;
  overflow-x: auto;
  color: rgb(242, 202, 39) !important;
  font-size: 14px;
}

.hljs-title {
  color: rgb(230, 0, 230) !important;
}

.hljs-string {
  color: rgb(126, 208, 126) !important;
}

.hljs-subst {
  color: rgb(126, 208, 126) !important;
}

.hljs-number{
  color: white !important;
}

.hljs-built_in{
  color: rgb(126, 208, 126) !important;
}

.font-sans > p > img {
  max-height: 320px;
  min-width: 75%;
  width: auto;
  border-radius: 6px;
  margin: auto;
}

.font-sans > p {
  color: rgb(36, 36, 36);
  line-height: 1.9rem;
}

.font-sans > ul > li{
  list-style-type: disc;
  margin-left: 1rem;
}

.ql-editor {
  min-height: 300px !important;
}

.bgImage {
  width: 100% !important;
  max-height: 300px !important;
  background-color: yellow;
  border-top-left-radius: 10px !important;
}

.text-c {
  color: #0f1111;
  font-family: "Amazon Ember", Arial, sans-serif;
  font-size: 16px;
}

span > .font-sans > h2{
  font-size: 1.5rem !important;
}

span > p > ol{
  margin-left: 2rem;
}

span > p > ol > li{
  list-style-type: disc;
  margin-left: 2rem;
}

span > p > ul{
  margin-left: 2rem;
}

span > p > ul > li{
  list-style-type: lower-roman;
  margin-left: 2rem;
}

span > p > p > a{
  color: #0a92d0;
  text-decoration: underline;
}

code{
  background-color: #e5e9ee;
  padding-left: 4px;
  padding-right: 4px;
}

p > img{
  width: 100vw;
  height: 350px;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid rgb(189, 185, 185);
  /* margin: 1.5em 10px; */
  padding: 0.5em 10px;
  /* quotes: "\201C""\201D""\2018""\2019"; */
}
blockquote:before {
  color: #ccc;
  /* content: open-quote; */
  font-size: 4em;
  line-height: 0.1em;
  /* margin-right: 0.25em; */
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.important{
  width: 100px !important;
  height: 60px !important;
  background-color: yellow;
  object-fit: cover !important;
}

.workspace-bg{
  background-color: #05203b;
  /* background-color: #042e58; */
  /* background-color: rgb(101, 0, 121); */
  /* color: rgb(61, 0, 61); */
}

/* ******************************** */
/* ***** All Custom Utilities ****** */
/* ******************************** */

@layer utilities {
  @variants hover, focus {

    .bradius {
      border-radius: 4rem;
    }

    .filter-grayscale {
      filter: grayscale(100%);
    }

    .nav {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1;
      background-color: white;
      transition-timing-function: ease-in;
      transition: all 0.5s;
      font-family: sans-serif;
    }

    .profile {
      min-width: 200px;
    }

    .story {
      border: none;
    }
  }

  .mx-wd {
    width: 95%;
  }
  .mx-wd1 {
    width: 90%;
  }

  .mx-wd2 {
    width: 80%;
  }
  .mx-wd3 {
    width: 62%;
  }

  .act {
    background-color: yellow;
  }
  .mh {
    height: 40vh;
  }

  .mx-h{
    height: 85vh;
  }
  .avatar {
    width: 200px;
  }

  .bg-c {
    background-color: rgb(23, 0, 128);
  }

  .color {
    color: rgb(23, 0, 128);
  }
}

/* ******************************** */
/* ***** Media Queries Styles ****** */
/* ******************************** */

@media screen and (max-width: 750px) {
  .wd-screen1 {
    width: 90vw;
    margin-left: 2px !important;
  }
}

@media screen and (max-width: 750px) {
  .wd-screen3 {
    margin-top: -22px !important;
  }
}


